.hbox-with-border {
    -fx-border-color: black; 
    -fx-border-width: 0 0 1 0; 
    -fx-border-style: solid; 
}
.tg
{
    -fx-background-color : transparent;
    -fx-border-color:black;
    -fx-border-width:0 0 2.5 0;
    -fx-text-fill : black;
}
.tg:hover
{
    -fx-cursor: hand;
}

.tg:selected
{
    -fx-border-color : white;
    -fx-border-width: 0 0 2.5 0;
}

.tab-pane *.tab-header-area  {
    visibility : false;

}

.tab-pane
{
    -fx-tab-max-height:0px;
}

.scroll-pane {
    -fx-background-radius : 20;
    -fx-background-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:  linear-gradient(to right, #1dbbdd44, #93f9b944);
    -fx-background-radius: 5em;
}

.material-combo-box .arrow-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.material-combo-box .arrow-button .arrow {
    -fx-background-color: #0097a7;
}

.material-combo-box .list-cell {
    -fx-text-fill: #FFFFFF;
}

.material-combo-box .list-cell {
    -fx-background-color: #0097a7;
}

.material-combo-box .list-cell:hover {
    -fx-background-color: #00556b;
}

.material-combo-box {
    -fx-background-color: #0097a7;
    -fx-border-color: #006d80;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
}

.material-combo-box .list-view {
    -fx-background-color: transparent;
}

.material-combo-box .list-view .list-cell {
    -fx-padding: 4px 8px;
}

.progress-bar {
    -fx-background-color:
        -fx-box-border,
        linear-gradient(to bottom, derive(-fx-color,30%) 5%, derive(-fx-color,-17%));
    -fx-background-insets: 0, 1;
    -fx-indeterminate-bar-length: 60;
    -fx-indeterminate-bar-escape: true;
    -fx-indeterminate-bar-flip: true;
    -fx-indeterminate-bar-animation-time: 1.3;
}

.progress-bar .bar {
    -fx-background-color:
        -fx-box-border,
        linear-gradient(to bottom, derive(-fx-accent,95%), derive(-fx-accent,10%)),
        linear-gradient(to bottom, derive(-fx-accent,38%), -fx-accent);
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.416667em; /* 5 */
}

.progress-bar:indeterminate .bar {
    -fx-background-color: linear-gradient(to left, transparent, -fx-accent);
}

.progress-bar .track {
     -fx-background-color:
        -fx-box-border,
        linear-gradient(to bottom, derive(-fx-color,-15%), derive(-fx-color,2.2%) 20%, derive(-fx-color,60%));
    -fx-background-insets:  0, 1;
}

.progress-bar:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.table-view {
    -fx-background-color: transparent;
}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}
.table-view .corner {
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 0 0 0 0;
}
.table-view .column-header .label {
    -fx-font-family: "Geologica";
    -fx-font-size: 14px;
}
.table-view .column-header  {
    -fx-background-color: transparent;
}
.table-view .table-cell{
    -fx-alignment: center;
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell:odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:hover {
    -fx-background-color: #C5F6D8;
    -fx-text-background-color: #F49832;
}
.table-row-cell:selected {
    -fx-background-color: #C5DEF6;
    -fx-text-background-color: #F49832;
}
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #1dbbdd44, #93f9b944);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #1dbbdd44, #93f9b944);
}

